
.container p{
    margin: 0px;
   
}
.container{
    width: 95%;
    
}
.plus {
    height: 0px;
    width: 0px;
    font-size: 30px;
    position: relative;
    top: -12px;
}
.loading_header {
    margin-right:  50px;
}

aside{
    margin-top: 15px;
}

.styledChecFiles{
    height: 20px;
    width: 97%;
    list-style-type: none;
    color: rgb(30, 30, 255);
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.styledChecFiles button{
    border:none;
    background-color: white;
    margin:0;
    padding: 0;
    
}

.styledChecFiles:hover{
    background-color: rgb(131, 170, 255);
}

.styledChecFiles button:hover{
    background-color: rgb(131, 170, 255)
}





.dropzone{
  flex: 1;
  display: flex;  
  justify-content: space-around;
  padding: 5px;
  border-width: 2;
  border-radius: 3;
  border-color: #eeeeee;
  border-style: dotted;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}
