.dropzoneContainer{
    width: 100%;
    padding: 0 25px;
}
.plus {
    height: 0px;
    width: 0px;
    font-size: 30px;
    position: relative;
    top: -12px;
}

.loading_header {
    margin-right:  50px;
}

aside{
    margin-top: 15px;
}

.styledChecFiles{
    height: 20px;
    width: 97%;
    list-style-type: none;
    color: rgb(30, 30, 255);
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.styledChecFiles button{
    border:none;
    margin:0;
    padding: 0;
    outline: none;
}

.styledChecFiles:hover{
    background-color: rgb(131, 170, 255);
}

.styledChecFiles button:hover{
    background-color: rgb(131, 170, 255)
}

.dropzone{
  flex: 1;
  display: flex;  
  justify-content: space-around;
  padding: 5px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #eeeeee;
  border-style: dotted;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.styledChecFiles button {
  background-color: rgb(131, 170, 255);
  height: 15px;
  width: 15px;
  display: none;
  background-size: cover; 
}

.styledChecFiles:hover button{
    display: block; 
    background-color: rgb(131, 170, 255);
}

