.content {
    height: 250px;
    overflow: scroll;
    font-size: 17px;
}

.policyHeader {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    
}

.privacyTextContent {
    padding-bottom: 10px;
}

.content span {
    font-weight: 700;
}

.policyBlock {
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 30px;
    position: relative;;
    top: -15px;
}

.btnI {
    margin-top: 10px;
}