.applicantionHeader {
    font-size: 45px;
    margin: 10px;
    margin-top: 40px;
    margin-left: 25px;
}

.applicationForm {
    max-width: 1200px;
    margin: 0 auto;
}

.personalDataHeader {
    font-size: 30px;
    margin: 10px;
    margin-top: 35px;
    margin-left: 25px;
}

.personalDataContent {
    width: 100%;
}

.nameSurname {
    width: 100%;
}

.mailAndDropzone {
    width: 100%;
}

.applicationForm label {
    margin-top: 20px;
 }

.mailZone{
    margin-bottom: 43px;
}

.applicationForm h2 {
    font-size: 25px;
}


.sexHeader {
    margin-left: 25px;
    margin-top: 30px;
}

.radio-btn-container {
    display: flex;
    justify-content: space-around;
    margin: 0 25px;
}

.radio-btn-container label {
    margin-left: 10px;
    margin-top: 0;
}

.githubHeader {
    margin-left: 25px;
    margin-top: 30px;
}

.githubBlock input {
    margin-bottom: 35px;
    width:75%;
}

/* .githubBlock input:hover {
    width: 95%;
} */

.privacyBlock button {
  border:none;
  border-bottom: 1px solid blue;
  color: blue;
  background-color: white;
  padding: 0; 
  outline: 0;
}


.privacyBlock {
    display: flex; 
}

.privacyText {
    font-size: 13px;
    margin-left: 20px;
    margin-top:6px;
}

.privacyText p:hover { 
    cursor: pointer;
}

.checkBox {
    margin-left: 13px;
    height: 13px;
    width: 13px;
    position: relative;
    top: 2.5px;
    border-radius:none;
}

.btnSend{
    display: flex;
    justify-content: center;
}

.btnSend button{
    width: 100%;
    margin: 0 25px;
    margin-top: 10px;
}

.modalDisplay button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 87%;
    margin: 10px;
}

.modalDisplay {
    display: flex;
    flex-direction: column;
}

.modalDisplay p{
    font-size: 20px;
}

.modalDisplay h2 {
    font-size: 30px;
}

@media screen and (min-width: 900px) {
    .personalDataContent {
        display: flex;
    }

    .radio-btn-container {
        flex-direction: column;
    }

    .btnSend button{
        max-width: 500px;
    }
}